nav {
    display: flex;
    flex-direction: row;
    justify-content: end;

    a {
        text-decoration: none;
        display: inline-block;
        line-height: 24px;
        vertical-align: middle;
        color: rbga(0, 0, 0, .87);
        font-family: Arial, sans-serif;
        padding-left: 15px;
        color: black;
        font-size: 13px;
    }

    a:hover{
        text-decoration: underline;
    }
}

.container {
    width: 800px;
    margin: auto;
    text-align: center;
}

#search-bar {
    border-radius: 30px; 
    width: 557px;
    height: 35px;
    border: solid 1px lightgrey;
    padding: 5px 14px;
    cursor: text;
    background-color: transparent;
    line-height: 22px;
    font-size: 16px;    
    overflow-x: hidden;
    margin: 0 0 8px 0;
    resize: none;
}

#search-bar:hover {
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.1);
}

#search-bar:focus {
    outline: none;
}

input[type=submit]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

input:hover {
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 11px 4px (0, 0, 0, .1);
}

form {
    input[type="text"] {
        text-align: left;
    }

    input[type="submit"] {
        display: inline-block;
    }
}


#title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: green;

    span {
        font-size: 15px;
    }
}

